* {
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  width: 150px;
}

button:hover {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 80px 0px;
}

.scores {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 24px;
  margin: 40px 0px;
}

.computers-choice-container {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  align-items: center;
}

.players-choices-container {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.players-choices button {
  margin: 16px 8px;
}

.results {
  text-align: center;
  font-size: 32px;
}